<h1>
  <%= @player.name %>	
</h1>
<h3>Draft</h3>
<% if @player.draft_selection.nil? %>
  <span>Undrafted.</span>
  <br><BR>
<%else%>
  <%= render @player.draft_selection %>
<%end%>


<h3>Season Stats</h3>
